.review-item img {
    width: 91px;
    
}
.review-detials-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 17px;
}
.review-details p{
    margin: 0;
}
.review-item {
    display: flex;
    border: 1px solid rgb(145, 145, 245);
    border-radius: 8px;
    width: 571px;
    margin: 21px auto;
    padding: 8px;
}

/* delte icon style */
.delete-container{
    display: flex;
    align-items: center;
}
.btn-delete {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 0;
    background-color: rgba(234,87, 87, 0.3);
}
.btn-delete:hover{
    background-color: rgba(234,87, 87, 0.5);
    cursor: pointer;
}
.delete-icon{
    color: #EB5757;
    font-size: 31px;
}

@media screen and (max-width:480px) {
    
    .review-item {
        width: 315px;
    }
}