.product{
    width: 300px;
    height: 450px;
    border: 2px solid rebeccapurple;
    position: relative;
    background-color: rgb(41, 37, 37);
    color: white;
}
.product:hover{
    transition: 2s;
    transform: scale(1.1);
}
.product img{
    width: 286px;
    height: 256px;
    margin: 5px;
}
.product-info{
    margin:0 14px;
}
.product-info p{
    margin-bottom: 0px;
    margin-top: 5px;
}
.product-name{
    font-family: 'lato';
    font-size: normal;
    font-weight: 400;
    line-height: 22px;
    margin-top: 5px;
}
.btn-cart{
    width: 100%;
    background: rgba(255, 153, 0, 0.3);
    border-radius: 0 0 8px 8px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-text{
    margin-right: 5px;
}
.btn-cart:hover{
    background: rgba(255, 153, 0, 0.6);
}
