/* .header{
    background-color: black;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 140px;
    padding-right: 140px;
} */
/* .header a{
    color: white;
    text-decoration: none;
    margin-left: 36px;
    font-size: 17px;
} */
/* .header a:hover{
    color: aquamarine;
}
.header img{
    height: 50px;
}
.btn-logout{
    margin-left: 10px;
} */
.Navbar{
    background-image: linear-gradient(rgb(236, 236, 198), rgb(202, 112, 27));
    border: 2px solid rgb(194, 209, 109);
}
.Welcome{
    color: rgb(15, 45, 216);
}

.logo-image{
    width: 45px;
    height: 35px;
    border-radius: 10px;
}